@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.sign-in {
  margin-top: 30vh;
}

.intro {
  font-family: 'Open Sans', sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 12vh;
  text-align: center;

  h1{
    font-weight: bold;
  }

  .content {
    width: 35vw;
    font-size: 16px;
  }
}
